name = "my-offers"
team = "happiness"

[runtime]
name = "python"
version = "3.8"

[[dependency]]
type = "postgres"
alias = "my_offers"

[[dependency]]
type = "rabbitmq"

[[dependency]]
type = "redis"
alias = "default"

[[dependency]]
type = "cassandra"
alias = "statistics"

[[dependency]]
type = "cassandra"
alias = "search_coverage"

[[dependency]]
type = "kafka"
alias = "default"

[job.web]
type = "web"
memory = 128

[job.web.prod]
type = "web"
instances = 6
cpu = 4096
memory = 256

[job.process_announcement_consumer]
type = "consumer"
command = "process_announcement_consumer"

[job.process_announcement_consumer.prod]
type = "consumer"
command = "process_announcement_consumer"
instances = 5
cpu = 2048
memory = 128

[job.save_moderation_offer_offence_consumer]
type = "consumer"
command = "save_moderation_offer_offence_consumer"
memory = 128

[job.save_announcement_contract_consumer]
type = "consumer"
command = "save_announcement_contract_consumer"
memory = 128

[job.save_announcement_contract_consumer.prod]
instances = 3
cpu = 2048

[job.mark_to_delete_announcement_contract_consumer]
type = "consumer"
command = "mark_to_delete_announcement_contract_consumer"
memory = 128

[job.save_offer_unload_error_consumer]
type = "consumer"
command = "save_offer_unload_error_consumer"
memory = 128

[job.save_agent_consumer]
type = "consumer"
command = "save_agent_consumer"
memory = 128

[job.save_offer_premoderation_consumer]
type = "consumer"
command = "save_offer_premoderation_consumer"
memory = 128

[job.remove_offer_premoderation_consumer]
type = "consumer"
command = "remove_offer_premoderation_consumer"
memory = 128

[job.update_offer_duplicates_consumer]
type = "consumer"
command = "update_offer_duplicates_consumer"
memory = 128

[job.new_offer_duplicate_notification_consumer]
type = "consumer"
command = "new_offer_duplicate_notification_consumer"
memory = 128

[job.process_announcement_from_temp_consumer]
type = "consumer"
command = "process_announcement_from_temp_consumer"

[job.process_announcement_from_temp_consumer.prod]
instances = 5

[job.process_announcement_from_elasticapi_consumer]
type = "consumer"
command = "process_announcement_from_elasticapi_consumer"

[job.process_announcement_from_elasticapi_consumer.prod]
instances = 5

[job.reindex_offers]
type = "manage"
command = "reindex-offers"
cpu = 2048

[job.resend_offers]
type = "manage"
command = "resend-offers"

[job.resend_offers_cron]
type = "cron"
command = "resend-offers"
cron = "0 */2 * * *"

[job.resend_offers_cron.prod]
memory = 1024

[job.resend_offers.prod]
cpu = 4096
memory = 2048

[job.sync_offer_duplicates_cron]
type = "consumer"
command = "sync-offer-duplicates-cron"

[job.reindex_offers_master_and_payed_by]
type = "manage"
command = "reindex-offers-master-and-payed-by"

[job.clear_deleted_offer_cron]
type = "consumer"
command = "clear-deleted-offer-cron"
memory = 128
