[requires]
python_version = "3.8"

[[source]]
url = "https://nexus.cian.tech/repository/cian/simple/"

[packages]
my-offers = {editable = true, path = "."}
cian-core = {version = "~=1.10", index = "cian", extras = ["rabbitmq_consumer_cli", "postgres", "cache", "cassandra", "kafka"]}
cian-kafka = "~=1.1"
cian-entities = "~=1.7"
cian-enum = "~=1.1"
cian-http = "~=0.20"
cian-schemas = "~=2.6"
cian-web = "~=2.1"
click = "~=7.1"
simple-settings = "~=0.19"
tornado = "~=6.0"
cian-rabbitmq = {version = "~=3.1", index = "cian"}
cian-pg = "~=0.0"
asyncpgsa = "~=0.26"
sqlalchemy = "~=1.3"
cian-cache = "~=1.1"
pytils  = "~=0.3"
python-dateutil = "==2.8.0"
cassandra-driver = "==3.19.0"
cian-cassandra = "~=0.4"

[dev-packages]
cian-lint = "*"
cian-functional-test-utils = {version = "*", extras = ["python", "postgres", "rabbitmq", "cache", "cassandra", "kafka"]}
cian-test-utils = "*"
diff-cover = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-tornado = "*"
tox = "*"
tox-pipenv-install = "*"
freezegun="*"
automation-helpers = "*"
cian-automation = "~=2.0"
