definitions:
  WebApi.Models.AgentsList.AgentBalanceResponse:
    description: Баланс сотрудника
    properties:
      auctionPoints:
        description: Суммарный баланс неистекших баллов на аукцион
        format: double
        type: number
      balance:
        description: Полный суммарный баланс пользователя на текущий момент. Включает
          все виды денег (бонусы и т.п.)
        format: double
        type: number
    type: object
  WebApi.Models.AgentsList.AgentPhoneResponse:
    description: Телефон сотрудника
    properties:
      isConfirmed:
        description: Признак подтвержденности номера
        type: boolean
      isMain:
        description: Признак основного номера
        type: boolean
      phone:
        description: Номер телефона
        type: string
    required:
    - isConfirmed
    - isMain
    type: object
  WebApi.Models.AgentsList.AgentResponse:
    description: Сотрудник
    properties:
      balance:
        $ref: '#/definitions/WebApi.Models.AgentsList.AgentBalanceResponse'
      email:
        description: Адрес email
        type: string
      firstName:
        description: Имя
        type: string
      lastName:
        description: Фамилия
        type: string
      limits:
        $ref: '#/definitions/WebApi.Models.AgentsList.AgentSpendLimitResponse'
      phones:
        description: Телефоны сотрудника
        items:
          $ref: '#/definitions/WebApi.Models.AgentsList.AgentPhoneResponse'
        type: array
      state:
        description: Состояния привязки субагентов
        enum:
        - request
        - active
        - processing
        - blocked
        - deleted
        - deletedAndHidden
        type: string
        x-active: Активный агент
        x-blocked: Заблокированный агент
        x-deleted: Удаленный агент
        x-deletedAndHidden: Удаленный агент
        x-processing: Агент в процессе активации/блокировки
        x-request: Отправлена заявка на добавление агента к агентству
      userId:
        description: Id пользователя
        format: int64
        type: integer
    required:
    - phones
    - state
    - userId
    type: object
  WebApi.Models.AgentsList.AgentServicePackagesLimits:
    description: Данные по пакетам объявлений пользователя
    properties:
      highlightCount:
        description: Количество задействованных слотов в категории Выделение цветом
        format: int32
        type: integer
      highlightLimit:
        description: Лимит объявлений в категории Выделение цветом
        format: int32
        type: integer
      paidCount:
        description: Количество задействованных слотов в категории Платное
        format: int32
        type: integer
      paidLimit:
        description: Лимит объявлений в категории Платное
        format: int32
        type: integer
      premiumCount:
        description: Количество задействованных слотов в категории Премиум
        format: int32
        type: integer
      premiumLimit:
        description: Лимит объявлений в категории Премиум
        format: int32
        type: integer
      top3Count:
        description: Количество задействованных слотов в категории ТОП3
        format: int32
        type: integer
      top3Limit:
        description: Лимит объявлений в категории ТОП3
        format: int32
        type: integer
    type: object
  WebApi.Models.AgentsList.AgentSpendLimitResponse:
    description: Денежный лимит
    properties:
      allowVas:
        description: Разрешение на использование VAS
        type: boolean
      limit:
        description: Значение лимита
        format: double
        type: number
      remainingBalance:
        description: Остаток лимита
        format: double
        type: number
      servicePackagesLimits:
        $ref: '#/definitions/WebApi.Models.AgentsList.AgentServicePackagesLimits'
    required:
    - allowVas
    - servicePackagesLimits
    type: object
  WebApi.Models.AgentsList.AgentsListResponse:
    description: Модель списка сотрудников.
    properties:
      agents:
        description: Сотрудники
        items:
          $ref: '#/definitions/WebApi.Models.AgentsList.AgentResponse'
        type: array
      page:
        description: Номер страницы
        format: int32
        type: integer
      pageSize:
        description: Размер страницы
        format: int32
        type: integer
      pagesCount:
        description: Количество страниц
        format: int32
        type: integer
      totalCount:
        description: Общее количество сабегетов
        format: int32
        type: integer
    required:
    - agents
    - page
    - pagesCount
    - pageSize
    - totalCount
    type: object
  WebApi.Models.GetAgenciesWithActivatedStaffServiceResponse:
    description: Агентства с активным сервисом Сотрудники
    properties:
      userIds:
        description: Список RealtyUserIds агентств
        items:
          format: int64
          type: integer
        type: array
    required:
    - userIds
    type: object
host: master.agents.dev3.cian.ru
info:
  title: agents
  version: v1
paths:
  /v1/get-agencies-with-activated-staff-service/:
    get:
      produces:
      - application/msgpack
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/WebApi.Models.GetAgenciesWithActivatedStaffServiceResponse'
      summary: Возвращает агенства с активным сервисом сотрудников. Был заведен хотя
        бы один сотрудник.
      tags:
      - Staff
  /v1/get-agents-list/:
    get:
      parameters:
      - description: Id пользователя - мастер-агента.
        format: int64
        in: query
        name: userId
        required: true
        type: integer
      - description: Номер запрашиваемой страницы.
        format: int32
        in: query
        maximum: 2147483647
        minimum: 1
        name: page
        required: true
        type: integer
      - description: Размер страницы.
        format: int32
        in: query
        maximum: 500
        minimum: 1
        name: pageSize
        required: true
        type: integer
      - description: Список сотрудников, которых нужно вернуть в ответе. Если не задан
          - вернуть информацию по всем сотрудникам.
        in: query
        items:
          format: int64
          type: integer
        name: userIds
        type: array
      - description: Поисковый запрос
        in: query
        name: query
        type: string
      - description: Статусы
        in: query
        items:
          enum:
          - request
          - active
          - processing
          - blocked
          - deleted
          - deletedAndHidden
          type: string
          x-active: Активный агент
          x-blocked: Заблокированный агент
          x-deleted: Удаленный агент
          x-deletedAndHidden: Удаленный агент
          x-processing: Агент в процессе активации/блокировки
          x-request: Отправлена заявка на добавление агента к агентству
        name: statuses
        type: array
      produces:
      - application/msgpack
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/WebApi.Models.AgentsList.AgentsListResponse'
      summary: Получение списка сотрудников по userId мастер-пользователя агентства.
      tags:
      - Agent
schemes:
- http
swagger: '2.0'
x-cian-kafka-mq:
  spec-version: '1.0'
  topics: []
x-cian-mq:
  exchanges: {}
  spec-version: '1.0'
