definitions:
  Common.Models.CanUpdateEditDate.CanUpdateEditdateResult:
    description: Возможность обновления даты публикации для объявления.
    properties:
      canUpdateEditDate:
        description: Возможность обновления даты публикации.
        type: boolean
      id:
        description: Id объявления.
        format: int32
        type: integer
    type: object
  Common.Models.UpdateEditDate.UpdateEditdateRequest:
    description: Запрос на обновление даты публикации для списка объявлений.
    properties:
      ids:
        description: Список id объявлений для обновления даты публикации.
        items:
          format: int32
          type: integer
        type: array
    type: object
  Common.Models.UpdateEditDate.UpdateEditdateResult:
    description: Результат обновления даты публикации объявления.
    properties:
      id:
        description: Id объявления.
        format: int32
        type: integer
      result:
        description: Результат обновления даты публикации.
        enum:
        - success
        - error
        type: string
        x-error: ''
        x-success: ''
    type: object
  WebApi.Models.Announcements.GetChangedIdsResponse:
    description: Ответ на запрос на получение изменившихся объявлений
    properties:
      offersIds:
        description: Ids объявлений
        items:
          format: int32
          type: integer
        type: array
    required:
    - offersIds
    type: object
host: master.announcements.dev3.cian.ru
info:
  title: announcements
  version: v1
paths:
  /v1/can-update-editdate/:
    get:
      parameters:
      - description: Список id объявлений для получения возможности обновления даты
          публикации.
        in: query
        items:
          format: int32
          type: integer
        name: ids
        type: array
      produces:
      - application/msgpack
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Common.Models.CanUpdateEditDate.CanUpdateEditdateResult'
            type: array
      summary: Определяет возможность обновления даты публикации для всех переданных
        id объявлений.
      tags:
      - AnnouncementsEdit
  /v1/get-changed-announcements-ids/:
    get:
      parameters:
      - description: RowVersion объявления
        format: int64
        in: query
        name: rowVersion
        required: true
        type: integer
      - description: Количество
        format: int32
        in: query
        name: top
        type: integer
      produces:
      - application/msgpack
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/WebApi.Models.Announcements.GetChangedIdsResponse'
      summary: Получение изменившихся объявлений
      tags:
      - AnnouncementsWebApi
  /v1/update-editdate/:
    post:
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      parameters:
      - description: Запрос со списком id объявлений для обновления времени публикации.
        in: body
        name: body
        schema:
          $ref: '#/definitions/Common.Models.UpdateEditDate.UpdateEditdateRequest'
      produces:
      - application/msgpack
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Common.Models.UpdateEditDate.UpdateEditdateResult'
            type: array
      summary: Обновляет дату публикации для всех переданных id объявлений.
      tags:
      - AnnouncementsEdit
schemes:
- http
swagger: '2.0'
x-cian-mq:
  exchanges: {}
  spec-version: '1.0'
